/*Estructura Color y Caligrafia*/
:root {
    --Primario: rgb(239, 25, 35);
    --Primario1: rgb(175, 30, 47);
    --Secundario: rgb(103, 103, 105);
    --Secundario1:rgb(59, 59, 59);
    --Secundario2: rgba(214, 214, 214, 0.651);
    --Blanco: #FFF;
    --Negro: #000;

    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteSecundaria: ;
}

/*Section 1*/
.section1 {
    width: 1175px;
}
.area {
    width: 1150px;
    height: 580px;
    display: grid;
    grid-template-columns: repeat(13, 7%);
    grid-template-rows: repeat(8, 14%);
    grid-gap: 1rem;
}
.cuadrado {
    width: 81px; 
    height: 81px; 
    background: var(--Primario);
}
.cuadrado1 {
    width: 81px; 
    height: 81px; 
    background: var(--Primario1);
    display: block;
}
.orden1 {
    grid-column: 1/13;
    grid-row: 1/8;
}
.orden2 {
    grid-column: 2/13;
    grid-row: 1/8;
}
.orden3 {
    grid-column: 1/13;
    grid-row: 2/8;
}
.orden4 {
    grid-column: 12/13;
    grid-row: 7/8;
}
.orden5 {
    grid-column: 11/13;
    grid-row: 7/8;
}
.orden6 {
    grid-column: 12/13;
    grid-row: 6/8;
}
.text1 {
    grid-column: 10/13;
    grid-row-start: 10;
    grid-column-end: 12;
    grid-row: 1/8;
}
.text1 h2 {
    font-family: 'Montserrat', sans-serif;
    width: 270px;
    height: 60px;
    color: var(--Primario);
    margin: 0 0 -21px 0;
    font-size: 3.4rem;
}
.text1 h4 {
    font-family: 'Montserrat', sans-serif;
    width: 270px;
    color: var(--Secundario);
    font-size: 1.7rem;
    margin: 0 0;
}
.Slogan {
    grid-column: 4/13;
    grid-row-start: 2;
    grid-column-end: 13;
    grid-row: 6/8;
}
.Slogan h2 {
    color: var(--Primario1);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9rem;
}
.QR {
    grid-column: 1/13;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row: 6/8;
    grid-row-start: 6;
    grid-row-end: 7;
}
.logo1 {
    grid-column: 1/13;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row: 6/8;
    grid-row-start: 6;
    grid-row-end: 7;
}
.logo1 img {
    width: 250px;
    padding-left: 50px;
}
.Logo2 {
    grid-column: 4/13;
    grid-row-start: 4;
    grid-column-end: 9;
    grid-row: 2/8;
    grid-row-start: 2;
    grid-row-end: 6;
}
.Logo2 img {
    width: 550px;
}