/*Estructura Color y Caligrafia*/
:root {
    --Primario: rgb(239, 25, 35);
    --Primario1: rgb(175, 30, 47);
    --Secundario: rgb(103, 103, 105);
    --Secundario1:rgb(75, 75, 75);
    --Secundario2: rgba(214, 214, 214, 0.651);
    --Secundario3: rgba(233, 233, 233, 0.473);
    --Blanco: #FFF;
    --Negro: #000;

    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteSecundaria: ;
}
p {
    color: var(--Blanco);
}
h2 {
  font-size: 4rem;
}
/*Section1*/
.sectionMarcas_alidas {
    background-color: var(--Blanco);
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
.contentMarcas_alidas_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10%;
  }
  .cardMarcas_alidas {
    margin: 2rem;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.6);
    overflow: hidden;
  }
  .contentMarcas_alidas {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .5s;
  }
  .contentMarcas_alidas h3{
    color: var(--Blanco);
    text-align: center;
    font-size: 1.5rem;
  }
  .contentMarcas_alidas span{
    font-size: 1.5rem;
  }
  .contentMarcas_alidas a {
    color: var(--Blanco);
  }
  .cardMarcas_alidas:hover .contentMarcas_alidas {
    opacity: 1;
  }
  .cardMarcas_alidas1{
    background: center url(../../imagenes/Marcas_Aliadas/ABER.png) no-repeat;
    background-size: contain;
    grid-column: 1/5;
  }
  .cardMarcas_alidas2{
    background: center url(../../imagenes/Marcas_Aliadas/BEZARES-150x150.png) no-repeat;
    background-size: contain;
    grid-column: 2/5;
  }
  .cardMarcas_alidas3{
    background: center url(../../imagenes/Marcas_Aliadas/Logo_Hertell.png) no-repeat;
    background-size: contain;
    grid-column: 3/5;
  }
  .cardMarcas_alidas4{
    background: center url(../../imagenes/Marcas_Aliadas/LOGO-SHIDCO-VECTOR-01-300x105.png) no-repeat;
    background-size: contain;
    grid-column: 4/5;
  }

  @media(max-width: 450px){
    .sectionMarcas_alidas{
       height: 100vh
    }
    h2{
       font-size: 3.5rem;
    }
}