/*Estructura Color y Caligrafia*/
:root {
    --Primario: rgb(239, 25, 35);
    --Primario1: rgb(175, 30, 47);
    --Secundario: rgb(103, 103, 105);
    --Secundario1:rgb(75, 75, 75);
    --Secundario2: rgba(214, 214, 214, 0.651);
    --Secundario3: rgba(233, 233, 233, 0.473);
    --Secundario4: rgba(214, 214, 214, 1);
    --Blanco: #FFF;
    --Negro: #000;

    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteSecundaria: ;
}

a {
  text-decoration: none;  
}

.content_menu-tienda {
  width: 100%;
  height: 4.5rem;
}

.custom-list-tienda {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.custom-list-tienda > * {
  flex: 0 0 20%;
}

.custom-list-tienda > :nth-child(2) {
  flex-basis: 60%;
}

.custom-list-tienda li {
  list-style: none;
  width: 100%;
  height: 3rem;
  text-decoration: none;
  color: var(--Primario1);
  font-family: var(--FuenteSecundaria);
  font-weight: 900;
  font-size: 2.2rem;
  letter-spacing: 1px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.info-lista {
  width: 225px;
  background-color: var(--Secundario4);
  border-radius: 10px;
  padding: 10px 5px;
}

.info-lista ul {
  margin-left: 50px;
}

.info-lista li:hover {
    color: var(--Primario);
}
.custom-svg-car svg {
  margin-top: 0;
}

.search-bar{
  width: 50%;
  height: 20px;
}

.search-bar form{
  display: flex;
  justify-content: center;
}

.custom-search {
  vertical-align: middle;
  white-space: nowrap;
  width: 40vw;  
  height: 30px;
  background: var(--Blanco);
  border: solid 2px var(--Primario);
  font-size: 10pt;
  color: var(--Negro);
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:10px;
  margin: 4.5px 0;
}
.btnsearch {
  background-color: var(--Blanco);
  border: solid 2px var(--Primario);
  color: var(--Negro);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 20px;
  margin: 3px 5px;
  text-transform: uppercase;
}

.custom-section-portada,
.custom-section-info,
.custom-section-producto {
  margin: 20px 0;
  width: 100%;
}

.custom-portada {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.custom-portada-derecha video {
  height: 400px;
}

.custom-portada-izquierda{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.custom-portada-izquierda img {
  height: 185px;
}

.custom-info {
  margin: 0 auto;
  width: 90%;
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.custom-contenido-info {
  border: solid 3px var(--Primario);
  border-radius: 10px;
  padding: 10px 5px;
  height: 90px;
  display: flex;
  gap: 1rem;
}

.custom-info a {
  text-decoration: none;
  color: var(--Negro);
}

.custom-svg,
.custom-svg svg {
  margin-top: 0;
  height: 100%;
}

.custom-contenido-info h3 {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.custom-productos {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.custom-productos a {
  text-decoration: none;
}

.custom-elemto-producto {
  margin-top: 20px;
  padding: 10px;
  width: 255px;
  height: 270px;
  border: solid 2px var(--Secundario);
  border-radius: 5px;
}

.custom-elemto-producto img {
  width: 180px;
  height: 180px;
}

.custom-elemto-producto h2 {
  font-size: 1.7rem;
}

.custom-elemto-producto p {
  font-size: 1.5rem;
  color: var(--Negro);
}

.custom-elemto-producto p:hover {
  font-size: 1.6rem;
  color: var(--Secundario);
}
